* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
    text-decoration: none ;
}

body {
    background-color: #1f1f1f ;
}

a {
    text-decoration: none ;
    margin: none ;
    padding: none ;
}

.container {
    width: 100%;
}

.header {
    margin-top: 5px ;
    width: 100% ;
    height: 50px ;
    background-color: #1f1f1e ;
    display: flex;
}

.line {
    width: 90vw ;
    height: 1px ;
    margin-left: 5vw ;
    background: #FFFFFF ;
    margin-top: 5px ;
}

.Com-logo {
    width: 30px ;
    height: 30px ;
    margin-top: 10.5px ;
    margin-left: 112px ;
}

.New-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 10px;
    margin-left: 92px ;
}

.BestOf-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 11px;
    margin-left: 21px ;
}

.Contact-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 11px;
    margin-left: 21px ;
}

.LogIn-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 11px;
    margin-left: 21px ;
}

.Shopping-logo {
    width: 34px ;
    height: 34px ;
    margin-top: 5px ;
    margin-left: 21px ;
}

.Search {
    width: 90vw;
    height: 66px ;
    margin-left: 62px ;
    margin-top: 50px ;
    background-color: #FFFFFF ;
    font-size: 24px ;
    font-family: Montserrat ;
    border-radius: 10px ;
    border: none ;
    padding-left: 20px;
}

/* .Content {
    width: 90vw;
    height: 1227px;
    margin-left: 62px ;
    margin-top: 30px ;
    border-radius: 10px ;
    background-color: #FFFFFF ;
    border: none ;
    padding: 11px ;
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-between ;
} */

.user-name {
    width: 30vw;
    height: 66px ;
    margin-left: 62px ;
    margin-top: 50px ;
    background-color: #FFFFFF ;
    font-size: 24px ;
    font-family: Montserrat ;
    border-radius: 10px ;
    border: none ;
    padding-left: 20px;
}

.message {
    width: 90vw;
    height: 206px ;
    margin-left: 62px ;
    margin-top: 25px ;
    background-color: #FFFFFF ;
    font-size: 24px ;
    font-family: Montserrat ;
    border-radius: 10px ;
    border: none ;
    padding-top: 10px ;
    padding-left: 20px;
}

.button {
    width: 300px ;
    height: 50px ;
    margin-left: 990px ;
    margin-top: 50px ;
    background-color: #FFFFFF ;
    font-size: 24px ;
    font-family: Montserrat ;
    border-radius: 10px ;
    border: none ;
    padding-top: 2px ;
    padding-left: 7px;
}

.button:active {
    vertical-align: top;
    padding-top: 5px;
    background-color: #1f1f1e ;
    color: #FFFFFF ;
    border: solid #FFFFFF 1.5px ;
}

.footer {
    width: 1349px ;
    height: 300px ;
    background-color: #1f1f1e ;
}


.Creator-things {
    margin-top: 70px ;
    margin-left: 30px ;
    line-height: 40px ;
    color: #FFFFFF;
}

.Thanks {
    font-family: Montserrat ;
    font-size: 36px ;
    width: 1349px ;
    height: 60px ;
    padding-top: 10px ;
    text-align: center;
    background-color: #FFFFFF;
}

.icon-share {
    width: 25px ;
    height: 25px ;
}

::-webkit-scrollbar {
    height: 50px ;
    width: 10px ;
}

::-webkit-scrollbar-thumb {
    background: #1f1f1f ;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #FFFFFF) ;
    border-radius: 5px ;
}


datalist {
  position: absolute;
  max-height: 20em;
  border: 0 none;
  overflow-x: hidden;
  overflow-y: auto;
}

datalist option {
  font-size: 0.8em;
  padding: 0.3em 1em;
  background-color: #ccc;
  cursor: pointer;
}

/* option active styles */
datalist option:hover,
datalist option:focus {
  color: #fff;
  background-color: #036 !important ;
  outline: 0 none;
}

#browsers option {
  font-size: 1.8em;
  padding: 0.3em 1em;
  background-color: #ccc;
  cursor: pointer;
}