* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
    text-decoration: none ;
}

body {
    background-color: #1f1f1f ;
}

a {
    text-decoration: none ;
    margin: none ;
    padding: none ;
    color: #FFFFFF;
}

.container {
    width: 100%;
}

.header {
    width: 100% ;
    height: 50px ;
    background-color: #1f1f1e ;
    display: flex;
}

.line {
    width: 90vw ;
    height: 1px ;
    margin-left: 5vw ;
    background: #FFFFFF ;
    margin-top: 5px ;
}

.Com-logo {
    width: 30px ;
    height: 30px ;
    margin-top: 10.5px ;
    margin-left: 112px ;
}

.New-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 10px;
    margin-left: 92px ;
}

.BestOf-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 11px;
    margin-left: 21px ;
}

.Contact-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 11px;
    margin-left: 21px ;
}

.LogIn-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 11px;
    margin-left: 21px ;
}

.Shopping-logo {
    width: 34px ;
    height: 34px ;
    margin-top: 5px ;
    margin-left: 21px ;
}

.Search {
    width: 90vw;
    height: 66px ;
    margin-left: 62px ;
    margin-top: 50px ;
    background-color: #FFFFFF ;
    font-size: 24px ;
    font-family: Montserrat ;
    border-radius: 10px ;
    border: none ;
    padding-left: 20px;
}

.decide {
    display: flex;
    margin-left: 62px ;
    margin-top: 20px ;
}

.anime {
    width: 586.695px ;
    height: 53px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    color: rgb(0, 0, 0) ;
    text-decoration: none ;
    margin-left: 15px ;
    font-size: 24px ;
    font-family: Montserrat ;
    text-align: center ;
    padding-top: 14.5px ;
}

.manga-manhwa {
    width: 586.695px ;
    height: 53px;
    background: black;
    border-radius: 8px;
    color: white ;
    text-decoration: none ;
    margin-left: 15px ;
    font-size: 24px ;
    font-family: Montserrat ;
    text-align: center ;
    padding-top: 14.5px ;
    
}

.Contant {
    width: 90vw;
    /* height: 1227px; */
    margin-left: 62px ;
    margin-top: 30px ;
    border-radius: 10px ;
    background-color: #FFFFFF ;
    border: none ;
    padding-bottom: 11px ;
    padding: 34px ;
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-between ;
}

.card {
    width : 18% ;

}

.card-img {
    border: solid #1f1f12 1px ; 
    border-radius: 5px ;
    /* width: 100% ;
    height: 90% ; */
    width: 100% ;
    height: 90% ;
}

.card-name {
    border-radius: 5px ;
    font-family: Montserrat ;
    text-align: center ;
}

/* .First-row {
    display: flex;
    align-items: row ;
    text-align: center ;
}

.Second-row {
    display: flex;
    align-items: row ;
    text-align: center ;
}

.Third-row {
    display: flex;
    align-items: row ;
    text-align: center ;
}

.first-card {
    margin-left: 11px ;
    align-items: center ;
    text-align: center ;
}

.card-img-1 {
    width: 219px ;
    height: 304px ;
    /* margin-left: 37px ; */
    /* margin-top: 11px ;
    border: solid #1f1f12 1px ; 
    border-radius: 5px ;
} */

/* .card-name-1 {
    /* margin-left: 64px ;
    border-radius: 5px ; */
    /* font-family: Montserrat ;
    text-decoration: none ;
    width: 219px ; */
    /* text-align: center; */
/* } */

/* .card-img-2 {
    width: 219px ;
    height: 304px ;
    margin-left: 11px ;
    margin-top: 11px ;
    border: solid #1f1f12 1px ; 
    border-radius: 5px ;
} */

/*.card-name-2 {
    /* margin-left: 38px ; */
    /* border-radius: 5px ;
    font-family: Montserrat ; */
/*} */

/* .card-img-3 {
    width: 219px ;
    height: 304px ;
    height: 303px ;
    margin-left: 11px ;
    margin-top: 11px ;
    border: solid #1f1f12 1px ; 
    border-radius: 5px ;
} */

/* .card-name-3 {
    margin-left: 28px ;
    border-radius: 5px ;
    font-family: Montserrat ;
}

.card-img-4 {
    width: 219px ;
    height: 304px ;
    margin-left: 11px ;
    margin-top: 11px ;
    border: solid #1f1f1e 1px ;
    border-radius: 5px ;
} */

/* .card-name-4 {
    margin-left: 80px ;
    border-radius: 5px ;
    font-family: Montserrat ;
}

.card-img-5 {
    width: 219px ;
    height: 304px ;
    margin-left: 11px ;
    margin-top: 11px ;
    border: solid #1f1f1e 1px ;
    border-radius: 5px ;
}

.card-name-5 {
    margin-left: 46px ;
    border-radius: 5px ;
    font-family: Montserrat ;
}  */

.footer {
    width: 1349px ;
    height: 300px ;
    background-color: #1f1f1e ;
}


.Creator-things {
    margin-top: 70px ;
    margin-left: 30px ;
    line-height: 40px ;
    color: #FFFFFF;
}

.Thanks {
    font-family: Montserrat ;
    font-size: 36px ;
    width: 1349px ;
    height: 60px ;
    padding-top: 10px ;
    text-align: center;
    background-color: #FFFFFF;
}

.icon-share {
    width: 25px ;
    height: 25px ;
}

::-webkit-scrollbar {
    height: 50px ;
    width: 10px ;
}

::-webkit-scrollbar-thumb {
    background: #1f1f1f ;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #FFFFFF) ;
    border-radius: 5px ;
}
