* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
    text-decoration: none ;
}

body {
    background-color: #1f1f1f ;
}

a {
    text-decoration: none ;
    margin: none ;
    padding: none ;
}

.container {
    width: 100%;
}

.header {
    margin-top: 5px ;
    width: 100% ;
    height: 50px ;
    background-color: #1f1f1e ;
    display: flex;
}

.line {
    width: 90vw ;
    height: 1px ;
    margin-left: 5vw ;
    background: #FFFFFF ;
    margin-top: 5px ;
}

.Com-logo {
    width: 30px ;
    height: 30px ;
    margin-top: 10.5px ;
    margin-left: 112px ;
}

.New-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 10px;
    margin-left: 92px ;
}

.BestOf-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 11px;
    margin-left: 21px ;
}

.Contact-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 11px;
    margin-left: 21px ;
}

.LogIn-btn {
    width: 220px;
    height: 57px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none ;
    margin-top: 11px;
    margin-left: 21px ;
}

.Shopping-logo {
    width: 34px ;
    height: 34px ;
    margin-top: 5px ;
    margin-left: 21px ;
}

.sign-square {
    margin-top: 50px ;
    margin-left: 505px ;
    width: 340px ;
    height: 530px ;
    border: solid #FFFFFF 2px ;
    border-radius: 5px ;
    background-color: #1f1f1f;
}

.sign-names {
    color: #fff ;
    font-family: Montserrat ;
    font-size: 18px ;
    margin-left: 22px ;
    margin-top: 10px ;   
}

.sign-input {
    width: 305px ;
    height: 40px ;
    margin-left: 15px ;
    margin-top: 7px ;
    background-color: #FFFFFF ;
    font-size: 14px ;
    font-family: Montserrat ;
    border-radius: 5px ;
    border: none ;
    padding-left: 20px ;
    padding-top: 2px ;
}

.sign-btn {
    display: flex ;
    margin-top: 15px ;
}

.back-btn {
    padding-top: 7px ;
    font-size: 30px ;
    color: #fff ;
    margin-left: 25px ;
}

.sign-btn-2 {
    width: 150px ;
    height: 40px ;
    margin-left: 40px ;
    margin-top: 7px ;
    background-color: #FFFFFF ;
    font-size: 18px ;
    font-family: Montserrat ;
    border-radius: 5px ;
    border: none ;
    padding-left: 38px ;
    padding-top: 9px ;
}